* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

:root {
  scroll-behavior: smooth;
  --primary_color: #624bff;
  --primary_dark_color: #301f9b;
  --success_color: #198754;
  --black_color: #000;
  --secondary_black_color: #5c5c5c;
  --tertiary_black_color: #929292;
  --bg_color: #d8d2ff30;

  --white_color: #fff;
  --three_mili: all 0.3s ease;
  scroll-behavior: smooth;
}
body {
  /* FONT SIZES */
  --primary_header: 2.5rem;
  --secondary_header: 2rem;
  --tertiary_header: 1.5rem;
  --body_text: 1rem;
  --label_text: 0.8rem;
  --four-em-margin: 6em;
}

@media screen and (max-width: 1500px) {
  body {
    /* FONT SIZES */
    --primary_header: 2.2rem;
    --secondary_header: 1.8rem;
    --tertiary_header: 1.2rem;
    --body_text: 1.1rem;
    --label_text: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  body {
    /* FONT SIZES */
    --primary_header: 2rem;
    --secondary_header: 1.5rem;
    --tertiary_header: 1.2rem;
    --body_text: 1rem;
    --label_text: 0.8rem;
    --four-em-margin: 4em;
  }
}

@media screen and (max-width: 600px) {
  body {
    /* FONT SIZES */
    --primary_header: 2rem;
    --secondary_header: 1.5rem;
    --tertiary_header: 1.2rem;
    --body_text: 1rem;
    --label_text: 0.8rem;
    --four-em-margin: 3em;
  }
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
}
button {
  background-color: transparent;
  border: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100vw;
  overflow-x: hidden !important;
}

.flex {
  display: flex;
  align-items: center;
}

.section {
  max-width: 1200px;
  margin: 4em auto;
  padding: 4em 0;
}

@media screen and (max-width: 1450px) {
  .section {
    padding: 4em 2em !important;
  }
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-size: var(--body_text);
  font-weight: 600;
  color: var(--black_color);
  padding: 0.8em 1em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.btn:hover {
  background-color: var(--primary_dark_color) !important;
}

.section_header h2 {
  color: var(--primary_color);
  font-size: var(--body_text);
  font-weight: normal;
}
.section_header h1 {
  color: var(--black_color);
  font-size: var(--secondary_header);
  margin: 0.4em 0;
}

.section_header p {
  color: var(--secondary_black_color);
  font-size: var(--body_text);
}
.hidden {
  display: none;
}

/* !HEADER STYLES */

#header {
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  padding: 0 5%;
  width: 100%;
  background-color: var(--white_color);
  box-shadow: 0 1px 3px rgba(3, 0, 71, 0.09);
}
.logo_container {
  width: fit-content;
  text-align: right;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 0.5em;
}
.logo-first-text {
  color: var(--black_color);
  font-size: var(--tertiary_header);
}
.logo-second-text {
  font-size: var(--label_text);
  color: var(--secondary_black_color);
}
.logo-second-text i {
  font-size: var(--label_text);
}
.logo a img {
  width: 45px;
}
.logo-text {
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

#nav-bar {
  height: 70px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  margin: 0 2em;
  font-size: var(--body_text);
}

.theme-nav-link {
  margin: 0;
  margin-left: 8em;
}

.nav-link a {
  text-decoration: none;
  color: var(--black_color);
  position: relative;
  font-size: var(--body_text);
}

.nav-link a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 100%;
  background-color: var(--primary_color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: right;
}

.nav-link.active a {
  color: var(--primary_color);
  border-bottom: 3px solid var(--primary_color);
}

.nav-link a:hover:not(.nav-link.active a, .apply-now):before {
  transform: scaleX(1);
  transform-origin: left;
}

#apply-now {
  background-color: var(--primary_color);
  color: var(--white_color);
}

@media screen and (max-width: 1000px) {
  .section {
    padding: 0 1em;
    margin: 2em auto;
  }
  .burger {
    cursor: pointer;
    height: 45px;
    width: 50px;
    border-radius: 8px;
    position: fixed;
    right: 4%;
    background-color: var(--theme-color);
    padding: 10px;
    overflow: hidden;
  }
  .burger i {
    display: block;
    background-color: var(--primary_color);
    height: 4px;
    width: 100%;
  }
  .burger i:not(:first-child) {
    margin-top: 7px;
  }
  .burger.active-burger i:first-child {
    transform: translateY(11px) rotate(45deg);
  }
  .burger.active-burger i:nth-child(2) {
    transform: translateX(-140%);
  }
  .burger.active-burger i:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }
  .logo a img {
    width: 35px;
  }
  .logo-text {
    font-size: 1.5rem;
  }
  #nav-bar {
    height: 60px;
    padding: 0;
  }
  .nav-link-container {
    position: fixed;
    top: 60px;
    height: 100vh;
    width: 100%;
    left: 0;
    flex-direction: column;
    align-items: center;
    transition: all 0.8s ease;
    background-color: var(--white_color);
    z-index: -1;
    padding-top: 60px;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
  .nav-link-container.active-nav {
    transform: translateY(0);
  }
  .nav-link {
    font-weight: normal;
    margin: 1.4em 0;
    font-size: 1.2rem;
  }
  .nav-link a {
    text-decoration: none;
  }
  .theme-nav-link {
    margin: 0;
    margin-top: 2em;
  }
  .theme-btn {
    padding: 0.6em 1.2em;
    font-size: 1.2rem;
  }
}

/* !FOOTER SECTION */
#footer {
  background-color: #151e29;
  padding: 4em 0;
}
#footer .section {
  margin: 0 auto;
  padding: 0;
}

.footer_upper_container {
  justify-content: space-between;
  border-bottom: 1px solid var(--tertiary_black_color);
  padding-bottom: 2em;
}
.footer-logo-text .logo-first-text {
  font-weight: 600;
}
.footer-logo-text .logo-first-text,
.footer-logo-text .logo-second-text {
  color: var(--white_color);
}
.logo_container {
  width: min(300px, 100%);
}
.footer_logo_text {
  color: var(--tertiary_black_color);
  margin-top: 1em;
  font-size: var(--label_text);
  line-height: 1.5em;
  text-align: left;
}

.footer_social_container {
  gap: 1em;
}
.footer_social_container a {
  /* background-color: var(--tertiary_black_color); */
  height: 40px;
  width: 40px;
  display: grid;
  place-items: center;
  font-size: var(--secondary_header);
  border-radius: 3px;
}
.footer_social_container a i {
  color: var(--white_color);
}

.footer_lower_container {
  margin-top: 2em;
  justify-content: space-between;
  align-items: flex-start;
}
.flc_left_card {
  margin: 1em 0;
  gap: 0.5em;
  color: var(--tertiary_black_color);
}
.flc_left_card i {
  color: var(--white_color);
  font-size: var(--tertiary_header);
}

.flc_right_container {
  gap: 4em;
  align-items: flex-start;
  flex-wrap: wrap;
  width: min(400px, 100%);
  justify-content: space-around;
}
.flc_right_card li {
  margin: 0.5em 0;
}
.flc_right_card li a {
  color: var(--tertiary_black_color);
}
.flc_right_card li a:hover {
  color: var(--white_color);
}

@media screen and (max-width: 800px) {
  .footer_lower_container {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .footer_upper_container {
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
  }
  .flc_right_container {
    align-items: flex-start;
  }
  .flc_right_container ul {
    width: 100%;
  }
}
